h1{
    color: red;
    text-align: center;

}
body{
    background-color: rgb(238, 228, 228);
    width: 1000px;
    margin: auto;
}
nav {
    height: 100%;
    width: 15%;
    background:rosybrown;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 250ms ease;
  }
  nav ul {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
  }
  #menu {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
  #menu:hover {
    cursor: pointer;
  }
  .slide {
    transform: translateX(-100%);
  }

    
    
  img{
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    list-style-image: -webkit-image-set(2);
  }
  .c-titre{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  #title-top{
    text-align: center;
    background: center;
    border-bottom: royalblue;
    box-sizing: border-box;
    padding: 3.75em;
    position: relative;
    margin-left: 50%;
    text-transform: uppercase;
    transform: translateX(-50%);
    width: 100vw;
    color: royalblue;
    
  }
  h2{ 
    color: royalblue;
    text-align: center;
  }
  form {
    display: flex;
    width:100%;
    flex-direction: column;
}
p {
  text-align: justify;
}

label {

  text-align: justify;
} 

h3{
  color: red;
}
.gestes{
  display: flex;
  size: 100px;
}
.container{
  display: flex;
  justify-content: space-between;


}
.container div{
  padding: 10px;

}
